#board-div {
    background-color:firebrick;
    display: flex;
    padding: 15px;
    width: fit-content;
    /* max-width : 768px; */
    /* max-height : 512px; */
     margin: 0 auto; 
    justify-content: center;

}
.column-div {
    height: 24px;
    width: 24px;
    background-color:rgb(189, 184, 177);
}
.header-div {
    display: flex;
  
}
.header-div h3 {
    flex: 1;
    text-align: center;
    color :dimgray;
}
.column-div:hover {
    background-color: dimgrey;
}
.column-div:hover:after {
    background-color: dimgrey;
    color: blue;
}